<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
        </encoder>
    </appender>
    <appender name="UserFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/userlog.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
        </encoder>
    </appender>
    <appender name="File"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/log.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <appender name="data"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/data.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./logs/data.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.mpen.api.util.LogUtil" level="INFO">
        <appender-ref ref="data" />
    </logger>
    <logger name="com.mpen.api.service.impl.ActionRecordServiceImpl" level="INFO">
        <appender-ref ref="UserFile" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="File" />
    </root>
</configuration>

